<div class="slider-box karte-inhalt">

    <h3 class="user"> {{username}} </h3>
    <div class="">
      <img src="uploads/{{picture}}"/>
    </div>
    <h3 class="title">{{title}}</h3>
    <p class="description">{{text}}</p>
    <div class="interactions">
      <p>{{likenumber}}</p>
        <button class="like-button">&#9825;</button>
    </div>
</div>