<h1>Startseite</h1>

<p>Willkommen auf meiner Website. Hier wird in Kürze eine interaktive Webapplikation entstehen. Viel Vergnügen!</p>

<h2>Login</h2>

<form action="/login" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/register" class="button">Registrieren</a>

<h2>Registrieren</h2>

<form action="/register" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>

{{#posts}}
<h3> {{title}} </h3>
<p>{{picture}}</p>
<p>{{text}}</p>
<p>{{likenumber}}</p>
<p>{{type}}</p>
<p>{{file}}</p>
{{/posts}}
<div class="mainconatiner-start">
<div class="karte">
    <div class="karte-inhalt">
    <h3>Benutzer
        <a href="benutzer"></a>
    </h3>
    <img src="coverbild" alt="">
    <h3>Titel</h3>
    <p>Kurz beschreibung</p>

</div>
</div>
</div>


{{> contactform}}
