<h1>Am Beliebtesten</h1>

<!-- <h2>Login</h2>

<form action="/login" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/register" class="button">Registrieren</a>

<h2>Registrieren</h2>

<form action="/register" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form> -->

{{#posts}}
<h3> {{title}} </h3>
<p>{{picture}}</p>
<p>{{text}}</p>
<p>{{likenumber}}</p>
<p>{{type}}</p>
<p>{{file}}</p>
{{/posts}}
<!-- <div class="mainconatiner-start">
<div class="karte">
    <div class="karte-inhalt">
    <h3>Benutzer
        <a href="benutzer"></a>
    </h3>
    <img src="coverbild" alt="">
    <h3>Titel</h3>
    <p>Kurz beschreibung</p>

</div>
</div>
</div> -->
{{#posts}}
<div class="slider-container">
        <button class="nav-button prev">&#9664;</button>
        <div class="slider">
            <div class="slider-box">
                <h3 class="user"> {{title}} </h3>
                <div class="image-placeholder">bild</div>
                <h3 class="title">Titel</h3>
                <p class="description">Kurz Beschreibung</p>
                <div class="interactions">
                  <p>{{likenumber}}</p>
                    <button class="like-button">&#9825;</button>
                </div>
            </div>
            <div class="slider-box">
              <h3 class="user"> {{title}} </h3>
                <div class="image-placeholder">bild</div>
                <h3 class="title">Titel</h3>
                <p class="description">Kurz Beschreibung</p>
                <div class="interactions">
                  <p>{{likenumber}}</p>
                    <button class="like-button">&#9825;</button>
                </div>
                
            </div>
            <!-- Weitere Boxen hinzufügen -->
        </div>
        <button class="nav-button next">&#9654;</button>
    </div>
    {{/posts}}


{{> contactform}}
